<!-- Makes the base.html template a part of this UI.  -->
{% extends 'partials/base.html' %}

<!-- adds this dynamic text as the title in base.html and is referenced as title -->
{% block title %}About{% endblock %}

<!-- dovetails this piece of the UI into the the base.html and is referenced as content -->
{% block content %}
<h3>About Page</h3>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, quasi esse
	sint dignissimos harum a dolorum ducimus eveniet maiores aliquam repudiandae
	voluptatum, minus sit ipsum quo fuga nisi corporis cupiditate reprehenderit
	est ex deserunt optio repellendus inventore! Cumque rem dolorem sit in,
	aliquam molestiae? Ipsam, distinctio rerum sed labore facere sit sunt sapiente
	dolorem, nam illo neque, facilis ex! Ex quam corporis hic quos? Adipisci
	similique ut hic, error animi iste pariatur repellendus optio quae, architecto
	porro tempora tenetur laborum illo, voluptates recusandae nam. Quam eius
	incidunt accusantium odit, itaque explicabo tempore cum, a sapiente quo harum
	sint necessitatibus nobis natus, ab tenetur! Vitae minus voluptate est amet
	delectus doloremque at autem. Cumque officia quod reprehenderit dolor
	voluptatum. Earum, quidem possimus quasi illum vero accusamus dolore
	doloribus, sunt quaerat quis saepe tempore harum! Quos sunt harum illum
	officiis commodi voluptatem nemo dolor cupiditate, perspiciatis dicta alias
	reiciendis ad itaque explicabo, beatae, voluptates distinctio deserunt. Est
	sed eos autem, ipsum culpa eum consequuntur velit, quasi veniam reiciendis
	eius id officiis alias! Optio voluptatum soluta omnis nobis accusantium
	consequatur nemo, rem illum eligendi nostrum quia voluptate at doloremque
	impedit aspernatur debitis eos suscipit quam facere quod atque recusandae
	fugiat doloribus nihil. Totam tempora ullam illum eos maxime, sint soluta,
	facilis porro consequatur iste inventore libero voluptas quasi dolorem
	quisquam placeat ab excepturi doloribus eius dolores qui atque. Tempora illum
	quas voluptas ab, architecto accusamus iste alias inventore aliquid
	perferendis in non recusandae cupiditate veritatis. Rerum pariatur possimus
	numquam iste voluptates ipsa sequi praesentium, ipsam soluta earum doloribus
	aut minus eum similique tenetur aliquam. Voluptatem autem molestias similique
	impedit soluta necessitatibus aliquid at dolor reprehenderit. Hic
	exercitationem assumenda saepe obcaecati odio, perspiciatis sint amet ullam
	harum ad quod quo debitis cupiditate eveniet ipsum atque libero maiores earum
	maxime? Eligendi minima quas tempore hic!
</p>
{% endblock %}
